{{state}}
<div class="cv-container">
    <div class="cv-left-container">

        <div class="picturePlusContact">
            <div class="flags">
                <img  src="/img/france.jpg" (click)="changeLocale('fr')"/>
                <img  src="/img/usa.jpg" (click)="changeLocale('en')"/>
            </div>
            <div class="picture-container">
                <div class="picture">&nbsp;</div>
            </div>
            <div class="contact">
                <entry>
                    <a md-button [href]="cv.linkedin" [target]="_blank"> {{ locale | i18nSelect: contactMap }}</a>
                </entry>
               
                <div class="name">{{cv.firstName}} {{cv.lastName}}</div>
                <address [address]="cv.address"></address>
                <age [birthday]="cv.birthday" [gender]="cv.gender" [locale]="locale"></age>
                <entry>{{cv.permit}}</entry>
            </div>
        </div>
        <div class="additionalSections">
            <section *ngFor="let section of cv.additionalSections" [section]="section" [styleClass]=" 'secondary' ">
                <skill *ngFor="let item of section.items" [skill]="item" class="marginLeft"></skill>
            </section>
        </div>
    </div>

    <div class="cv-right-container">
        <div class="title">{{cv.professionTitle}}
            <br>{{cv.professionSubTitle}}</div>
        <div class="catchPhrase">{{cv.catchPhrase}}</div>

        <section *ngFor="let section of cv.sections" [section]="section" [styleClass]=" 'main' ">
            <mission *ngFor="let item of section.items" [mission]="item" class=""></mission>
            <subsection *ngFor="let subsection of section.sections" [section]="subsection" class="">
                <skill *ngFor="let item of subsection.items" [skill]="item" class=""></skill>
            </subsection>
        </section>
    </div>

    <div class="additionalSectionsSmallScreen">
        <section *ngFor="let section of cv.additionalSections" [section]="section" [styleClass]=" 'secondary' ">
            <skill *ngFor="let item of section.items" [skill]="item" class="marginLeft"></skill>
            <div style="clear:both;"></div>
        </section>
    </div>
</div>