@import '../../styles/screen';

skill
{
    display: inline-block;

    margin-top: 5px;
    .skill-title
    {
        display: table-row;
    }

    .skill-stars
    {
        display: table-row;

        border-spacing: 10px;
    }
}
