@import '../../styles/screen';
.mission
{
    display: table;
    width: 100%;
    margin-right: $h-margin;
    padding-top: 3px;
    padding-bottom: 3px;

    .date
    {
        display: table-cell;
        width: 20%;
        text-align: center;
    }


    .description
    {
        display: table-cell;
        padding-right :  $v-margin * 2;
        width: 80%;
    }

    .title
    {
        font-weight: bold;
    }

    .env
    {
        margin-top: $v-margin /2 ;
        color: $secondary-color;
    }

    ul{
        margin-top:$v-margin /2;
        margin-left:$h-margin * 2;
        li{
            list-style-type:disc;

        }
    }

}
